{
  "openapi": "3.1.0",
  "info": {
    "title": "full-node-http-api",
    "version": "4.8.0"
  },
  "servers": [
    {
      "url": "https://api.shasta.trongrid.io"
    }
  ],
  "components": {
    "securitySchemes": {}
  },
  "security": [
    {}
  ],
  "paths": {
    "/wallet/generateaddress": {
      "get": {
        "summary": "GenerateAddress",
        "description": "Generate a random private key and address. This API has been deprecated, please generate address offline.",
        "operationId": "generateaddress",
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\"privateKey\":\"9f86d081884c7d659a2feaa0c55ad015a3bf4f1b2b0b822cd15d6c15b0f00a08\",\"address\":\"TDp4x8kCJ6aHz8wnqZgkaVQAm2ajH1og3L\",\"hexAddress\":\"412a260a110bc7b03f19c40a0bd04ff2c5dcb57594\"}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "privateKey": {
                      "type": "string",
                      "example": "9f86d081884c7d659a2feaa0c55ad015a3bf4f1b2b0b822cd15d6c15b0f00a08"
                    },
                    "address": {
                      "type": "string",
                      "example": "TDp4x8kCJ6aHz8wnqZgkaVQAm2ajH1og3L"
                    },
                    "hexAddress": {
                      "type": "string",
                      "example": "412a260a110bc7b03f19c40a0bd04ff2c5dcb57594"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/wallet/createaddress": {
      "post": {
        "summary": "CreateAddress",
        "description": "Creates an address from the specified password string (not the private key).This interface has been deprecated, please generate address offline.",
        "operationId": "createaddress",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "value"
                ],
                "properties": {
                  "value": {
                    "type": "string",
                    "description": "value is the password, converted from ascii to hex. i.e. the pass phrase.",
                    "default": "7465737470617373776f7264"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"base58checkAddress\":\"T9yD14Nj9j7xAB4dbGeiX9h8unkKHxuWwb\",\n  \"value\":\"T9yD14Nj9j7xAB4dbGeiX9h8unkKHxuWwb\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "base58checkAddress": {
                      "type": "string",
                      "example": "T9yD14Nj9j7xAB4dbGeiX9h8unkKHxuWwb"
                    },
                    "value": {
                      "type": "string",
                      "example": "T9yD14Nj9j7xAB4dbGeiX9h8unkKHxuWwb"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/wallet/validateaddress": {
      "post": {
        "summary": "ValidateAddress",
        "description": "Validates address, returns either true or false.",
        "operationId": "validateaddress",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "address"
                ],
                "properties": {
                  "address": {
                    "type": "string",
                    "description": "Account address (Format: Base58, Hex, or Base64). Example: `TG3XXyExBkPp9nzdajDZsozEu4BkaSJozs`.",
                    "default": ""
                  },
                  "visible": {
                    "type": "boolean",
                    "description": "Optional. Set to `true` to format addresses in Base58; set to `false` for hex format. (Default: `false`)",
                    "default": ""
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\"result\":true}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/wallet/gettransactionsign": {
      "post": {
        "summary": "GetTransactionSign",
        "description": "Sign the transaction, it is recommended to sign transactions offline.",
        "operationId": "gettransactionsign",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "transaction",
                  "privateKey"
                ],
                "properties": {
                  "transaction": {
                    "type": "object",
                    "description": "Transaction is a contract created by http api",
                    "properties": {
                      "txID": {
                        "type": "string"
                      },
                      "visible": {
                        "type": "boolean"
                      },
                      "raw_data": {
                        "type": "string",
                        "default": "{\"contract\":[{\"parameter\":{\"value\":{\"amount\":1000,\"owner_address\":\"41608f8da72479edc7dd921e4c30bb7e7cddbe722e\",\"to_address\":\"41e9d79cc47518930bc322d9bf7cddd260a0260a8d\"},\"type_url\":\"type.googleapis.com/protocol.TransferContract\"},\"type\":\"TransferContract\"}],\"ref_block_bytes\":\"5e4b\",\"ref_block_hash\":\"47c9dc89341b300d\",\"expiration\":1591089627000,\"timestamp\":1591089567635}",
                        "format": "json"
                      },
                      "raw_data_hex": {
                        "type": "string",
                        "default": "0a025e4b220847c9dc89341b300d40f8fed3a2a72e5a66080112620a2d747970652e676f6f676c65617069732e636f6d2f70726f746f636f6c2e5472616e73666572436f6e747261637412310a1541608f8da72479edc7dd921e4c30bb7e7cddbe722e121541e9d79cc47518930bc322d9bf7cddd260a0260a8d18e8077093afd0a2a72e"
                      },
                      "signature": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "privateKey": {
                    "type": "string",
                    "description": "privateKey is the user private key",
                    "default": "your private key"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/wallet/broadcasttransaction": {
      "post": {
        "summary": "BroadcastTransaction",
        "description": "Broadcasts a signed transaction to the network.",
        "operationId": "broadcasttransaction",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "RAW_BODY"
                ],
                "properties": {
                  "RAW_BODY": {
                    "type": "string",
                    "description": "Transaction object(Singed). See [here](https://developers.tron.network/docs/tron-protocol-transaction) for details.\ne.g., {\"visible\": false, \"txID\": \"6db783c4142b3749a4b598db4644155455c9206e2eca4b31efbd48e46773d9d5\", \"raw_data\": {\"contract\": [{\"parameter\": {\"value\": {\"amount\": 1000000, \"owner_address\": \"411320a6fb4dcd4ff8e91392a8cb98378633cf7dd8\", \"to_address\": \"414c8967080d86f3d0e1352a42f9213c7b9dd03b0f\"}, \"type_url\": \"type.googleapis.com/protocol.TransferContract\"}, \"type\": \"TransferContract\"}], \"ref_block_bytes\": \"f69b\", \"ref_block_hash\": \"7d4a3b02495f2320\", \"expiration\": 1762502739000, \"timestamp\": 1762502681856}, \"raw_data_hex\": \"0a02f69b22087d4a3b02495f232040b888e6eaa5335a67080112630a2d747970652e676f6f676c65617069732e636f6d2f70726f746f636f6c2e5472616e73666572436f6e747261637412320a15411320a6fb4dcd4ff8e91392a8cb98378633cf7dd81215414c8967080d86f3d0e1352a42f9213c7b9dd03b0f18c0843d7080cae2eaa533\", \"signature\": [\"2a3743f40d53a124c1597256b155bf286bd8874afe6997ec0a7e63405dea78cd914d9aa9adb8f84dc8d1ef4b1827dd9e8960a40a4ad11e619d06e9601e8b27c000\"]}",
                    "default": "",
                    "format": "json"
                  }
                }
              },
              "examples": {
                "200 Example API Call Responce 2": {
                  "value": {
                    "code": "TRANSACTION_EXPIRATION_ERROR",
                    "txid": "6db783c4142b3749a4b598db4644155455c9206e2eca4b31efbd48e46773d9d5",
                    "message": "5472616e73616374696f6e2065787069726564"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Example API Call Response": {
                    "value": "{\n  \"result\": true,\n  \"txid\": \"6db783c4142b3749a4b598db4644155455c9206e2eca4b31efbd48e46773d9d5\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "txid": {
                      "type": "string",
                      "example": "6db783c4142b3749a4b598db4644155455c9206e2eca4b31efbd48e46773d9d5"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/wallet/broadcasthex": {
      "post": {
        "summary": "BroadcastHex",
        "description": "Broadcasts a signed, protocol buffer-encoded transaction hex string to the network.",
        "operationId": "broadcasthex",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "transaction"
                ],
                "properties": {
                  "transaction": {
                    "type": "string",
                    "description": "Transaction object. See [here](https://developers.tron.network/docs/tron-protocol-transaction) for details. (Format: Hex).\ne.g., 0A8A010A0202DB2208C89D4811359A28004098A4E0A6B52D5A730802126F0A32747970652E676F6F676C65617069732E636F6D2F70726F746F636F6C2E5472616E736665724173736574436F6E747261637412390A07313030303030311215415A523B449890854C8FC460AB602DF9F31FE4293F1A15416B0580DA195542DDABE288FEC436C7D5AF769D24206412418BF3F2E492ED443607910EA9EF0A7EF79728DAAAAC0EE2BA6CB87DA38366DF9AC4ADE54B2912C1DEB0EE6666B86A07A6C7DF68F1F9DA171EEE6A370B3CA9CBBB00",
                    "default": ""
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/wallet/easytransfer": {
      "post": {
        "summary": "EasyTransfer",
        "description": "This interface has been deprecated.",
        "operationId": "easytransfer",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "passPhrase",
                  "toAddress",
                  "amount"
                ],
                "properties": {
                  "passPhrase": {
                    "type": "string",
                    "description": "Password converted from ascii to hex"
                  },
                  "toAddress": {
                    "type": "string",
                    "description": "Recipient address converted into a hex string"
                  },
                  "amount": {
                    "type": "integer",
                    "description": "Amount of TRX to transfer expressed in SUN.",
                    "format": "int32"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/wallet/easytransferbyprivate": {
      "post": {
        "summary": "EasyTransferByPrivate",
        "description": "This interface has been deprecated.",
        "operationId": "easytransferbyprivate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "privateKey",
                  "toAddress",
                  "amount"
                ],
                "properties": {
                  "privateKey": {
                    "type": "string",
                    "description": "passPhrase is the private key in hex string format"
                  },
                  "toAddress": {
                    "type": "string",
                    "description": "toAddress is the recipient address, converted into a hex string;"
                  },
                  "amount": {
                    "type": "integer",
                    "description": "amount is the amount of TRX to transfer in SUN.",
                    "format": "int32"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/wallet/createtransaction": {
      "post": {
        "summary": "CreateTransaction",
        "description": "Creates a TRX transfer transaction. If the recipient account (to_address) does not exist, it will be automatically activated.",
        "operationId": "createtransaction",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "owner_address": {
                    "type": "string",
                    "description": "Sender address. (Format: Base58 or Hex).\ne.g., 41FD49EDA0F23FF7EC1D03B52C3A45991C24CD440E",
                    "default": ""
                  },
                  "to_address": {
                    "type": "string",
                    "description": "Recipient address. (Format: Base58 or Hex).\ne.g., 4198927FFB9F554DC4A453C64B2E553A02D6DF514B",
                    "default": ""
                  },
                  "amount": {
                    "type": "integer",
                    "description": "Amount of TRX to transfer. (Unit: sun).\ne.g., 1000",
                    "default": "-1",
                    "format": "int64"
                  },
                  "Permission_id": {
                    "type": "integer",
                    "description": "The permission ID of the account. Defaults to owner permission if unspecified. Check [More info](https://developers.tron.network/docs/multi-signature).",
                    "format": "int32"
                  },
                  "visible": {
                    "type": "boolean",
                    "description": "Set to `true` to format addresses in Base58; set to `false` for hex format. (Default: `false`)",
                    "default": "false"
                  },
                  "extra_data": {
                    "type": "string",
                    "description": "Remarks or notes for the transaction, in Hex format."
                  }
                },
                "required": [
                  "owner_address",
                  "to_address",
                  "amount"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "javascript",
              "code": "$.post('https://api.trongrid.io/wallet/createtransaction', {\"to_address\": \"41e9d79cc47518930bc322d9bf7cddd260a0260a8d\", \"owner_address\": \"41D1E7A6BC354106CB410E65FF8B181C600FF14292\", \"amount\": 1000 }, function(data) {\n    console.log(data);\n});",
              "name": "JavaScript"
            }
          ],
          "samples-languages": [
            "javascript"
          ]
        }
      }
    },
    "/wallet/createaccount": {
      "post": {
        "summary": "CreateAccount",
        "description": "Activate an account. Uses an already activated account to activate a new account. Users have to generate an account locally with wallet-cli or others SDKs like TronWeb, and then use this API to activate the account generated, or just simply transfer TRX to it.",
        "operationId": "account-createaccount",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "owner_address": {
                    "type": "string",
                    "description": "Transaction initiator address (format: Base58 or Hex). Example: `TUoHaVjx7n5xz8LwPRDckgFrDWhMhuSuJM `",
                    "default": ""
                  },
                  "account_address": {
                    "type": "string",
                    "description": "Address of the account to be activated (format: Base58 or Hex). Example: `TUZKijZ9Esy8JEkrqMpaVgtbDKKNA5p5CZ`",
                    "default": ""
                  },
                  "visible": {
                    "type": "boolean",
                    "description": "Set to `true` to format addresses in Base58; set to `false` for hex format. (Default: `false`)",
                    "default": ""
                  },
                  "Permission_id": {
                    "type": "integer",
                    "description": " Permission ID used for multi-signature.",
                    "format": "int32"
                  }
                },
                "required": [
                  "owner_address",
                  "account_address"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/wallet/getaccount": {
      "post": {
        "summary": "GetAccount",
        "description": "Query information about an account, including TRX balance, TRC-10 balances, stake information and vote information and permissions etc.",
        "operationId": "account-getaccount",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "address"
                ],
                "properties": {
                  "address": {
                    "type": "string",
                    "description": "Account address (format: Base58 or Hex). Example: `TUoHaVjx7n5xz8LwPRDckgFrDWhMhuSuJM`"
                  },
                  "visible": {
                    "type": "boolean",
                    "description": "Set to `true` to format addresses in Base58; set to `false` for hex format. (Default: `false`)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/wallet/updateaccount": {
      "post": {
        "summary": "UpdateAccount",
        "description": "Modify account name",
        "operationId": "updateaccount",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "owner_address": {
                    "type": "string",
                    "description": "Account address (format: Base58 or Hex). Example: `TUoHaVjx7n5xz8LwPRDckgFrDWhMhuSuJM`",
                    "default": ""
                  },
                  "account_name": {
                    "type": "string",
                    "description": "Account name. Example: `testAccountName`",
                    "default": ""
                  },
                  "visible": {
                    "type": "boolean",
                    "description": "Set to `true` to format addresses in Base58; set to `false` for hex format. (Default: `false`)",
                    "default": ""
                  },
                  "Permission_id": {
                    "type": "integer",
                    "description": " Permission ID used for multi-signature.",
                    "format": "int32"
                  }
                },
                "required": [
                  "account_name",
                  "owner_address"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/wallet/accountpermissionupdate": {
      "post": {
        "summary": "AccountPermissionUpdate",
        "description": "Update the account's permission.",
        "operationId": "accountpermissionupdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "owner_address": {
                    "type": "string",
                    "description": "Account address (format: Base58 or Hex). Example: `TJZuV6A9QRdtVeJBvewCF9fLF2qnRSEv3y `",
                    "default": ""
                  },
                  "actives": {
                    "type": "string",
                    "description": "List of active permissions for the account. Example: `[{ \t\"type\": 2, \t\"permission_name\": \"active0\", \t\"threshold\": 2, \t\"operations\": \"7fff1fc0037e0000000000000000000000000000000000000000000000000000\", \t\"keys\": [{ \t\t\"address\": \"TJZuV6A9QRdtVeJBvewCF9fLF2qnRSEv3y\", \t\t\"weight\": 1 \t}, { \t\t\"address\": \"TPswDDCAWhJAZGdHPidFg5nEf8TkNToDX1\", \t\t\"weight\": 1 \t}] }]`",
                    "default": "",
                    "format": "json"
                  },
                  "owner": {
                    "type": "string",
                    "description": "Owner permission object of the account. Example: `{ \t\"type\": 0, \t\"permission_name\": \"owner\", \t\"threshold\":1, \t\"keys\": [{ \t\t\"address\": \"TJZuV6A9QRdtVeJBvewCF9fLF2qnRSEv3y\", \t\t\"weight\": 1 \t}] }`",
                    "default": "",
                    "format": "json"
                  },
                  "witness": {
                    "type": "string",
                    "description": "Witness permission object (for Super Representatives). Example: `{\"type\": 1,\n\"permission_name\": \"witness\",\n    \"threshold\": 1,\n    \"keys\": [{ \"address\": \"TJZuV6A9QRdtVeJBvewCF9fLF2qnRSEv3y\",  \"weight\": 1 }]}`",
                    "format": "json"
                  },
                  "visible": {
                    "type": "boolean",
                    "description": "Set to `true` to format addresses in Base58; set to `false` for hex format. (Default: `false`)",
                    "default": ""
                  },
                  "Permission_id": {
                    "type": "string",
                    "description": "Permission ID used for multi-signature."
                  }
                },
                "required": [
                  "owner_address",
                  "owner",
                  "actives"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/wallet/getaccountbalance": {
      "post": {
        "summary": "GetAccountBalance",
        "description": "Get the account balance in a specific block.(Note: At present, the interface data can only be queried through the following official nodes 13.228.119.63 & 18.139.193.235 & 18.141.79.38 & 18.139.248.26)",
        "operationId": "getaccountbalance",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "account_identifier": {
                    "type": "string",
                    "default": "",
                    "format": "json",
                    "description": "Object containing the account address.  Example: `{   \"address\": \"TLLM21wteSPs4hKjbxgmH1L6poyMjeTbHm\" }` "
                  },
                  "block_identifier": {
                    "type": "string",
                    "default": "",
                    "format": "json",
                    "description": "Object containing the block number and hash. Example: `{         \"hash\": \"0000000000010c4a732d1e215e87466271e425c86945783c3d3f122bfa5affd9\",         \"number\": 68682     }`"
                  },
                  "visible": {
                    "type": "boolean",
                    "description": "Set to `true` to format addresses in Base58; set to `false` for hex format. (Default: `false`)",
                    "default": ""
                  }
                },
                "required": [
                  "account_identifier",
                  "block_identifier"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"balance\": 64086449348265042,\n    \"block_identifier\": {\n        \"hash\": \"0000000000010c4a732d1e215e87466271e425c86945783c3d3f122bfa5affd9\",\n        \"number\": 68682\n    }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "balance": {
                      "type": "integer",
                      "example": 64086449348265040,
                      "default": 0
                    },
                    "block_identifier": {
                      "type": "object",
                      "properties": {
                        "hash": {
                          "type": "string",
                          "example": "0000000000010c4a732d1e215e87466271e425c86945783c3d3f122bfa5affd9"
                        },
                        "number": {
                          "type": "integer",
                          "example": 68682,
                          "default": 0
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/wallet/getaccountresource": {
      "post": {
        "summary": "GetAccountResource",
        "description": "Query the resource information of an account(bandwidth,energy,etc)",
        "operationId": "getaccountresource",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "address": {
                    "type": "string",
                    "description": "The account address (format: Base58 or hex). Example: `TBRmoVhfTYmPS8R9pMosyvZtes4qQsCu3e`",
                    "default": ""
                  },
                  "visible": {
                    "type": "boolean",
                    "description": "Optional. Set to `true` to format addresses in Base58Check; set to `false` for hex format. (Default: `false`)",
                    "default": ""
                  }
                },
                "required": [
                  "address"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/wallet/getaccountnet": {
      "post": {
        "summary": "GetAccountNet",
        "description": "Query bandwidth information.",
        "operationId": "getaccountnet",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "address": {
                    "type": "string",
                    "description": "The queried account address, in Base58Check format or HEX format.",
                    "default": ""
                  },
                  "visible": {
                    "type": "boolean",
                    "description": "Optional. Set to `true` to format addresses in Base58Check; set to `false` for hex format. (Default: `false`)",
                    "default": "false"
                  }
                },
                "required": [
                  "address"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Example API Call Output": {
                    "value": ""
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/wallet/freezebalance": {
      "post": {
        "summary": "FreezeBalance",
        "description": "This interface has been deprecated, please use [FreezeBalanceV2](/reference/freezebalancev2-1) to stake TRX to obtain resources.",
        "operationId": "account-resources-freezebalance",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "owner_address": {
                    "type": "string",
                    "description": "Owner address, default hexString",
                    "default": ""
                  },
                  "frozen_balance": {
                    "type": "integer",
                    "description": "TRX stake amount, the unit is sun",
                    "default": "",
                    "format": "int64"
                  },
                  "frozen_duration": {
                    "type": "integer",
                    "description": "Lock-up duration for this stake, now the value can only be 3 days. It is not allowed to unstake within 3 days after the stake. You can unstake TRX after the 3 lock-up days",
                    "default": "3",
                    "format": "int32"
                  },
                  "resource": {
                    "type": "string",
                    "description": "Type of resource. (Enum: \"BANDWIDTH\" or \"ENERGY\")",
                    "default": ""
                  },
                  "receiver_address": {
                    "type": "string",
                    "description": "Optional,the address that will receive the resource, default hexString"
                  },
                  "Permission_id": {
                    "type": "integer",
                    "description": "Optional. Permission ID used for multi-signature.",
                    "format": "int32"
                  },
                  "visible": {
                    "type": "boolean",
                    "description": "Optional. Set to `true` to format addresses in Base58Check; set to `false` for hex format. (Default: `false`)",
                    "default": "false"
                  }
                },
                "required": [
                  "owner_address",
                  "frozen_balance",
                  "resource"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/wallet/unfreezebalance": {
      "post": {
        "summary": "UnfreezeBalance",
        "description": "Unstake the TRX staked during Stake1.0, release the obtained bandwidth or energy and TP. This operation will cause automatically cancel all votes.",
        "operationId": "account-resources-unfreezebalance",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "owner_address": {
                    "type": "string",
                    "description": "Owner address, in Base58Check format or HEX format.",
                    "default": ""
                  },
                  "resource": {
                    "type": "string",
                    "description": "Type of resource. (Enum: \"BANDWIDTH\" or \"ENERGY\")",
                    "default": ""
                  },
                  "receiver_address": {
                    "type": "string",
                    "description": "Optional, in Base58Check format or HEX format."
                  },
                  "Permission_id": {
                    "type": "integer",
                    "description": "Optional. Permission ID used for multi-signature.",
                    "format": "int32"
                  },
                  "visible": {
                    "type": "boolean",
                    "description": "Optional. Set to `true` to format addresses in Base58Check; set to `false` for hex format. (Default: `false`)",
                    "default": "false"
                  }
                },
                "required": [
                  "owner_address",
                  "resource"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/wallet/getdelegatedresource": {
      "post": {
        "summary": "GetDelegatedResource",
        "description": "Returns all resources delegations during stake1.0 phase from an account to another account. The fromAddress can be retrieved from the GetDelegatedResourceAccountIndex API.",
        "operationId": "getdelegatedresource",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "fromAddress",
                  "toAddress"
                ],
                "properties": {
                  "fromAddress": {
                    "type": "string",
                    "description": "The queried from account address, in Base58Check format or HEX format.",
                    "default": ""
                  },
                  "toAddress": {
                    "type": "string",
                    "description": "The queried to account address, in Base58Check format or HEX format.",
                    "default": ""
                  },
                  "visible": {
                    "type": "boolean",
                    "description": "Optional. Set to `true` to format addresses in Base58Check; set to `false` for hex format. (Default: `false`)",
                    "default": "false"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/wallet/getdelegatedresourceaccountindex": {
      "post": {
        "summary": "GetDelegatedResourceAccountIndex",
        "description": "Query the resource delegation by an account during stake1.0 phase. i.e. list all addresses that have delegated resources to an account.",
        "operationId": "getdelegatedresourceaccountindex",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "value": {
                    "type": "string",
                    "description": "The queried account address, in Base58Check format or HEX format.",
                    "default": ""
                  },
                  "visible": {
                    "type": "boolean",
                    "description": "Optional. Set to `true` to format addresses in Base58Check; set to `false` for hex format. (Default: `false`)",
                    "default": "false"
                  }
                },
                "required": [
                  "value"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/wallet/freezebalancev2": {
      "post": {
        "summary": "FreezeBalanceV2",
        "description": "In Stake2.0, stake an amount of TRX to obtain bandwidth or energy, and obtain equivalent TRON Power(TP) according to the staked amount",
        "operationId": "freezebalancev2-1",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "owner_address",
                  "frozen_balance",
                  "resource"
                ],
                "properties": {
                  "owner_address": {
                    "type": "string",
                    "description": "Owner address, default hexString",
                    "default": ""
                  },
                  "frozen_balance": {
                    "type": "integer",
                    "description": "TRX stake amount, the unit is sun",
                    "default": "",
                    "format": "int64"
                  },
                  "resource": {
                    "type": "string",
                    "description": "TRX stake type, 'BANDWIDTH' or 'ENERGY'",
                    "default": ""
                  },
                  "Permission_id": {
                    "type": "integer",
                    "description": "Optional. Specifies the permission ID used for multi-signature accounts.",
                    "format": "int32"
                  },
                  "visible": {
                    "type": "boolean",
                    "description": "Optional. Specifies whether the address is in Base58 format (default: false). Note: Set to true in this example for demonstration purposes.",
                    "default": "false"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/wallet/unfreezebalancev2": {
      "post": {
        "summary": "UnfreezeBalanceV2",
        "description": "Unstake some TRX staked in Stake2.0, release the corresponding amount of bandwidth or energy, and voting rights (TP)",
        "operationId": "unfreezebalancev2-1",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "owner_address": {
                    "type": "string",
                    "description": "Owner address, in Base58Check format or HEX format.",
                    "default": ""
                  },
                  "unfreeze_balance": {
                    "type": "integer",
                    "description": "Amount of TRX to unstake. (Unit: sun)",
                    "default": "",
                    "format": "int64"
                  },
                  "resource": {
                    "type": "string",
                    "description": "Type of resource. (Enum: \"BANDWIDTH\" or \"ENERGY\")",
                    "default": ""
                  },
                  "Permission_id": {
                    "type": "integer",
                    "description": "Optional. Permission ID used for multi-signature.",
                    "format": "int32"
                  },
                  "visible": {
                    "type": "boolean",
                    "description": "Optional. Set to `true` to format addresses in Base58Check; set to `false` for hex format. (Default: `false`)",
                    "default": "false"
                  }
                },
                "required": [
                  "owner_address",
                  "unfreeze_balance",
                  "resource"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/wallet/cancelallunfreezev2": {
      "post": {
        "summary": "CancelAllUnfreezeV2",
        "description": "Cancel unstakings, all unstaked funds still in the waiting period will be re-staked, all unstaked funds that exceeded the 14-day waiting period will be automatically withdrawn to the owner’s account",
        "operationId": "cancelallunfreezev2",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "owner_address": {
                    "type": "string",
                    "description": "Owner address, in Base58Check format or HEX format.",
                    "default": ""
                  },
                  "Permission_id": {
                    "type": "integer",
                    "description": "Optional. Permission ID used for multi-signature.",
                    "format": "int32"
                  },
                  "visible": {
                    "type": "boolean",
                    "description": "Optional. Set to `true` to format addresses in Base58Check; set to `false` for hex format. (Default: `false`)",
                    "default": "false"
                  }
                },
                "required": [
                  "owner_address"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/wallet/delegateresource": {
      "post": {
        "summary": "DelegateResource",
        "description": "Delegate bandwidth or energy resources to other accounts in Stake2.0.",
        "operationId": "delegateresource-1",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "owner_address": {
                    "type": "string",
                    "description": "Owner address, in Base58Check format or HEX format.",
                    "default": ""
                  },
                  "receiver_address": {
                    "type": "string",
                    "description": "Resource receiver address, in Base58Check format or HEX format.",
                    "default": ""
                  },
                  "balance": {
                    "type": "integer",
                    "description": "Amount of TRX to delegate or undelegate for resources. (Unit: sun)",
                    "default": "",
                    "format": "int64"
                  },
                  "resource": {
                    "type": "string",
                    "description": "Type of resource. (Enum: \"BANDWIDTH\" or \"ENERGY\")",
                    "default": ""
                  },
                  "lock": {
                    "type": "boolean",
                    "description": "Optional. Whether to lock the resource delegation. If `true`, the delegation cannot be canceled during the `lock_period`.",
                    "default": "false"
                  },
                  "lock_period": {
                    "type": "integer",
                    "description": "Lock duration in blocks (1 block ≈ 3 seconds). Only valid if `lock` is `true`. (e.g., 1 day = 28800)",
                    "format": "int64"
                  },
                  "visible": {
                    "type": "boolean",
                    "description": "Optional. Set to `true` to format addresses in Base58Check; set to `false` for hex format. (Default: `false`)",
                    "default": "false"
                  },
                  "Permission_id": {
                    "type": "integer",
                    "description": "Optional. Permission ID used for multi-signature.",
                    "format": "int32"
                  }
                },
                "required": [
                  "owner_address",
                  "receiver_address",
                  "balance",
                  "resource"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/wallet/undelegateresource": {
      "post": {
        "summary": "UnDelegateResource",
        "description": "Cancel the delegation of bandwidth or energy resources to other accounts in Stake2.0",
        "operationId": "undelegateresource-1",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "owner_address": {
                    "type": "string",
                    "description": "Owner address, in Base58Check format or HEX format.",
                    "default": ""
                  },
                  "receiver_address": {
                    "type": "string",
                    "description": "Resource receiver address, in Base58Check format or HEX format.",
                    "default": ""
                  },
                  "balance": {
                    "type": "integer",
                    "description": "Amount of TRX to delegate or undelegate for resources. (Unit: sun)",
                    "default": "",
                    "format": "int64"
                  },
                  "resource": {
                    "type": "string",
                    "description": "Type of resource. (Enum: \"BANDWIDTH\" or \"ENERGY\")",
                    "default": ""
                  },
                  "visible": {
                    "type": "boolean",
                    "description": "Optional. Set to `true` to format addresses in Base58Check; set to `false` for hex format. (Default: `false`)",
                    "default": "false"
                  },
                  "Permission_id": {
                    "type": "integer",
                    "description": "Optional. Permission ID used for multi-signature.",
                    "format": "int32"
                  }
                },
                "required": [
                  "owner_address",
                  "receiver_address",
                  "balance",
                  "resource"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/wallet/withdrawexpireunfreeze": {
      "post": {
        "summary": "WithdrawExpireUnfreeze",
        "description": "Withdraw unfrozen balance in Stake2.0,  the user can call this API to get back their funds after executing /wallet/unfreezebalancev2 transaction and waiting N days, N is a network parameter",
        "operationId": "withdrawexpireunfreeze",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "owner_address": {
                    "type": "string",
                    "description": "Owner address, in Base58Check format or HEX format.",
                    "default": ""
                  },
                  "visible": {
                    "type": "boolean",
                    "description": "Optional. Set to `true` to format addresses in Base58Check; set to `false` for hex format. (Default: `false`)",
                    "default": "false"
                  },
                  "Permission_id": {
                    "type": "integer",
                    "description": "Optional. Permission ID used for multi-signature.",
                    "format": "int32"
                  }
                },
                "required": [
                  "owner_address"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/wallet/getavailableunfreezecount": {
      "post": {
        "summary": "GetAvailableUnfreezeCount",
        "description": "Remaining times of executing unstake operation in Stake2.0",
        "operationId": "getavailableunfreezecount-1",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "owner_address": {
                    "type": "string",
                    "description": "Owner address, in Base58Check format or HEX format.",
                    "default": ""
                  },
                  "visible": {
                    "type": "boolean",
                    "description": "Optional. Set to `true` to format addresses in Base58Check; set to `false` for hex format. (Default: `false`)",
                    "default": "false"
                  }
                },
                "required": [
                  "owner_address"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/wallet/getcanwithdrawunfreezeamount": {
      "post": {
        "summary": "GetCanWithdrawUnfreezeAmount",
        "description": "Query the withdrawable balance at the specified timestamp In Stake2.0",
        "operationId": "getcanwithdrawunfreezeamount-1",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "owner_address": {
                    "type": "string",
                    "description": "Owner address, in Base58Check format or HEX format.",
                    "default": ""
                  },
                  "timestamp": {
                    "type": "integer",
                    "description": "Timestamp to query. (Unit: millGisecond)",
                    "default": "",
                    "format": "int64"
                  },
                  "visible": {
                    "type": "boolean",
                    "description": "Optional. Set to `true` to format addresses in Base58Check; set to `false` for hex format. (Default: `false`)",
                    "default": "false"
                  }
                },
                "required": [
                  "owner_address",
                  "timestamp"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/wallet/getcandelegatedmaxsize": {
      "post": {
        "summary": "GetCanDelegatedMaxSize",
        "description": "In Stake2.0, query the amount of delegatable resources share of the specified resource type for an address, unit is sun.",
        "operationId": "getcandelegatedmaxsize",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "owner_address": {
                    "type": "string",
                    "description": "Owner address, in Base58Check format or HEX format.",
                    "default": ""
                  },
                  "type": {
                    "type": "integer",
                    "description": "Resource type, 0 is bandwidth, 1 is energy.",
                    "default": 0,
                    "format": "int32"
                  },
                  "visible": {
                    "type": "boolean",
                    "description": "Optional. Set to `true` to format addresses in Base58Check; set to `false` for hex format. (Default: `false`)",
                    "default": "false"
                  }
                },
                "required": [
                  "owner_address",
                  "type"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/wallet/getdelegatedresourcev2": {
      "post": {
        "summary": "GetDelegatedResourceV2",
        "description": "In Stake2.0, query the detail of resource share delegated from fromAddress to toAddress",
        "operationId": "getdelegatedresourcev2",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "fromAddress": {
                    "type": "string",
                    "description": "Delegate account address, in Base58Check format or HEX format.",
                    "default": ""
                  },
                  "toAddress": {
                    "type": "string",
                    "description": "Resource recipient address, in Base58Check format or HEX format.",
                    "default": ""
                  },
                  "visible": {
                    "type": "boolean",
                    "description": "Optional. Set to `true` to format addresses in Base58Check; set to `false` for hex format. (Default: `false`)",
                    "default": "false"
                  }
                },
                "required": [
                  "fromAddress",
                  "toAddress"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/wallet/getdelegatedresourceaccountindexv2": {
      "post": {
        "summary": "GetDelegatedResourceAccountIndexV2",
        "description": "In Stake2.0, query the resource delegation index by an account. Two lists will return, one is the list of addresses the account has delegated its resources(toAddress), and the other is the list of addresses that have delegated resources to the account(fromAddress).",
        "operationId": "getdelegatedresourceaccountindexv2-1",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "value": {
                    "type": "string",
                    "description": "Account address, in Base58Check format or HEX format.",
                    "default": ""
                  },
                  "visible": {
                    "type": "boolean",
                    "description": "Optional. Set to `true` to format addresses in Base58Check; set to `false` for hex format. (Default: `false`)",
                    "default": "false"
                  }
                },
                "required": [
                  "value"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/wallet/getblock": {
      "post": {
        "summary": "GetBlock",
        "description": "Query block header information or entire block information according to block height or block hash",
        "operationId": "getblock-1",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id_or_num": {
                    "type": "string",
                    "description": "Block height or hash. If omitted, the latest block is queried. Example: `1000000`.",
                    "default": ""
                  },
                  "detail": {
                    "type": "boolean",
                    "description": "Whether to query the full block information. Set to `true` to query the entire block details; set to `false` to query only the block header. (Default: `false`)",
                    "default": ""
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Example API Call Output": {
                    "value": ""
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "javascript",
              "code": "$.post('https://api.trongrid.io/wallet/getblockbynum', {\"num\" : 100}, function(data) {\n    console.log(data);\n});",
              "name": "JavaScript"
            }
          ],
          "samples-languages": [
            "javascript"
          ]
        }
      }
    },
    "/wallet/getblockbynum": {
      "post": {
        "summary": "GetBlockByNum",
        "description": "Returns the Block Object corresponding to the 'Block Height' specified (number of blocks preceding it).",
        "operationId": "wallet-getblockbynum",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "num": {
                    "type": "integer",
                    "description": "Block number (height). Example: `200`",
                    "default": "",
                    "format": "int32"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Example API Call Output": {
                    "value": "// Example API Call Output\n\n{  \n   \"blockID\":\"00000000000000c82a54a3bbdc956e1ddebc903f29b8daf28505b56f55a3f87d\",\n   \"block_header\":{  \n      \"raw_data\":{  \n         \"number\":200,\n         \"txTrieRoot\":\"0000000000000000000000000000000000000000000000000000000000000000\",\n         \"witness_address\":\"411661f25387370c9cd3a9a5d97e60ca90f4844e7e\",\n         \"parentHash\":\"00000000000000c7c8f27726916dfddca3c1c3481eb01da8a08938263674cea4\",\n         \"timestamp\":1529892138000\n      },\n      \"witness_signature\":\"691e9116963b54ef7eb07692266319b029217e4d4ae8e8cb97e341617460f3822eff149c690aac6f2e0ad27d0af4fa8824d113d7a71c091245f778438ca4bde801\"\n   }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "blockID": {
                      "type": "string",
                      "example": "00000000000000c82a54a3bbdc956e1ddebc903f29b8daf28505b56f55a3f87d"
                    },
                    "block_header": {
                      "type": "object",
                      "properties": {
                        "raw_data": {
                          "type": "object",
                          "properties": {
                            "number": {
                              "type": "integer",
                              "example": 200,
                              "default": 0
                            },
                            "txTrieRoot": {
                              "type": "string",
                              "example": "0000000000000000000000000000000000000000000000000000000000000000"
                            },
                            "witness_address": {
                              "type": "string",
                              "example": "411661f25387370c9cd3a9a5d97e60ca90f4844e7e"
                            },
                            "parentHash": {
                              "type": "string",
                              "example": "00000000000000c7c8f27726916dfddca3c1c3481eb01da8a08938263674cea4"
                            },
                            "timestamp": {
                              "type": "integer",
                              "example": 1529892138000,
                              "default": 0
                            }
                          }
                        },
                        "witness_signature": {
                          "type": "string",
                          "example": "691e9116963b54ef7eb07692266319b029217e4d4ae8e8cb97e341617460f3822eff149c690aac6f2e0ad27d0af4fa8824d113d7a71c091245f778438ca4bde801"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "javascript",
              "code": "$.post('https://api.trongrid.io/wallet/getblockbynum', {\"num\" : 100}, function(data) {\n    console.log(data);\n});",
              "name": "JavaScript"
            }
          ],
          "samples-languages": [
            "javascript"
          ]
        }
      }
    },
    "/wallet/getblockbyid": {
      "post": {
        "summary": "GetBlockById",
        "description": "Query block by ID(block hash).",
        "operationId": "getblockbyid",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "value": {
                    "type": "string",
                    "description": "Block ID (hash). Example: `00000000000f424013e51b18e0782a32fa079ddafdb2f4c343468cf8896dc887`",
                    "default": ""
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Example API Call Output": {
                    "value": "// Example API Call Output\n\n{  \n   \"blockID\":\"00000000000000c82a54a3bbdc956e1ddebc903f29b8daf28505b56f55a3f87d\",\n   \"block_header\":{  \n      \"raw_data\":{  \n         \"number\":200,\n         \"txTrieRoot\":\"0000000000000000000000000000000000000000000000000000000000000000\",\n         \"witness_address\":\"411661f25387370c9cd3a9a5d97e60ca90f4844e7e\",\n         \"parentHash\":\"00000000000000c7c8f27726916dfddca3c1c3481eb01da8a08938263674cea4\",\n         \"timestamp\":1529892138000\n      },\n      \"witness_signature\":\"691e9116963b54ef7eb07692266319b029217e4d4ae8e8cb97e341617460f3822eff149c690aac6f2e0ad27d0af4fa8824d113d7a71c091245f778438ca4bde801\"\n   }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "blockID": {
                      "type": "string",
                      "example": "00000000000000c82a54a3bbdc956e1ddebc903f29b8daf28505b56f55a3f87d"
                    },
                    "block_header": {
                      "type": "object",
                      "properties": {
                        "raw_data": {
                          "type": "object",
                          "properties": {
                            "number": {
                              "type": "integer",
                              "example": 200,
                              "default": 0
                            },
                            "txTrieRoot": {
                              "type": "string",
                              "example": "0000000000000000000000000000000000000000000000000000000000000000"
                            },
                            "witness_address": {
                              "type": "string",
                              "example": "411661f25387370c9cd3a9a5d97e60ca90f4844e7e"
                            },
                            "parentHash": {
                              "type": "string",
                              "example": "00000000000000c7c8f27726916dfddca3c1c3481eb01da8a08938263674cea4"
                            },
                            "timestamp": {
                              "type": "integer",
                              "example": 1529892138000,
                              "default": 0
                            }
                          }
                        },
                        "witness_signature": {
                          "type": "string",
                          "example": "691e9116963b54ef7eb07692266319b029217e4d4ae8e8cb97e341617460f3822eff149c690aac6f2e0ad27d0af4fa8824d113d7a71c091245f778438ca4bde801"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "javascript",
              "code": "$.post('https://api.trongrid.io/wallet/getblockbyid', {\"value\": \"0000000000038809c59ee8409a3b6c051e369ef1096603c7ee723c16e2376c73\"}, function(data) {\n    console.log(data);\n});",
              "name": "JavaScript"
            }
          ],
          "samples-languages": [
            "javascript"
          ]
        }
      }
    },
    "/wallet/getblockbylatestnum": {
      "post": {
        "summary": "GetBlockByLatestNum",
        "description": "Returns a list of block objects.",
        "operationId": "wallet-getblockbylatestnum",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "num": {
                    "type": "integer",
                    "description": "Number of most recent blocks to retrieve. Example: `5`",
                    "default": "",
                    "format": "int32"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "javascript",
              "code": "$.post('https://api.trongrid.io/wallet/getblockbylatestnum', {\"num\":5}, function(data) {\n    console.log(data);\n});",
              "name": "JavaScript"
            }
          ],
          "samples-languages": [
            "javascript"
          ]
        }
      }
    },
    "/wallet/getblockbylimitnext": {
      "post": {
        "summary": "GetBlockByLimitNext",
        "description": "Returns the list of Block Objects included in the 'Block Height' range specified.",
        "operationId": "getblockbylimitnext",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "startNum": {
                    "type": "integer",
                    "description": "Starting block height (inclusive). Example: `1`",
                    "default": "",
                    "format": "int32"
                  },
                  "endNum": {
                    "type": "integer",
                    "description": "Ending block height (exclusive). Example: `5`",
                    "default": "",
                    "format": "int32"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "javascript",
              "code": "$.post('https://api.trongrid.io/wallet/getblockbylimitnext', {\"startNum\":1, \"endNum\":2}, function(data) {\n    console.log(data);\n});",
              "name": "JavaScript"
            }
          ],
          "samples-languages": [
            "javascript"
          ]
        }
      }
    },
    "/wallet/getnowblock": {
      "post": {
        "summary": "GetNowBlock",
        "description": "Query the latest block information",
        "operationId": "wallet-getnowblock",
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Example API Call Output": {
                    "value": "// Example API Call Output\n\n{  \n   \"blockID\":\"00000000000080f82038aa301eda07eb27906589dd849d1c9ba5d84af94cf038\",\n   \"block_header\":{  \n      \"raw_data\":{  \n         \"number\":33016,\n         \"txTrieRoot\":\"0000000000000000000000000000000000000000000000000000000000000000\",\n         \"witness_address\":\"41928c9af0651632157ef27a2cf17ca72c575a4d21\",\n         \"parentHash\":\"00000000000080f7b502cb572e67f3ad8e75558c0cd64f54cc7c0697f08000a0\",\n         \"version\":3,\n         \"timestamp\":1536713433000\n      },\n      \"witness_signature\":\"917101db1a7f9252fa3fef139acc07153876b0a4a46e57a235f9b1578bb6da2f12d1a4bc09350e3c5b609353876ffdd581bd903ce31304e42066e363853cf77d00\"\n   }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "blockID": {
                      "type": "string",
                      "example": "00000000000080f82038aa301eda07eb27906589dd849d1c9ba5d84af94cf038"
                    },
                    "block_header": {
                      "type": "object",
                      "properties": {
                        "raw_data": {
                          "type": "object",
                          "properties": {
                            "number": {
                              "type": "integer",
                              "example": 33016,
                              "default": 0
                            },
                            "txTrieRoot": {
                              "type": "string",
                              "example": "0000000000000000000000000000000000000000000000000000000000000000"
                            },
                            "witness_address": {
                              "type": "string",
                              "example": "41928c9af0651632157ef27a2cf17ca72c575a4d21"
                            },
                            "parentHash": {
                              "type": "string",
                              "example": "00000000000080f7b502cb572e67f3ad8e75558c0cd64f54cc7c0697f08000a0"
                            },
                            "version": {
                              "type": "integer",
                              "example": 3,
                              "default": 0
                            },
                            "timestamp": {
                              "type": "integer",
                              "example": 1536713433000,
                              "default": 0
                            }
                          }
                        },
                        "witness_signature": {
                          "type": "string",
                          "example": "917101db1a7f9252fa3fef139acc07153876b0a4a46e57a235f9b1578bb6da2f12d1a4bc09350e3c5b609353876ffdd581bd903ce31304e42066e363853cf77d00"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "javascript",
              "code": "$.post('https://api.trongrid.io/wallet/getnowblock', function(data) {\n    console.log(data);\n});"
            }
          ],
          "samples-languages": [
            "javascript"
          ]
        },
        "parameters": [
          {
            "in": "query",
            "name": "visible",
            "schema": {
              "type": "boolean"
            },
            "description": "Set to `true` to format addresses in Base58; set to `false` for hex format. (Default: `false`)"
          }
        ]
      }
    },
    "/wallet/gettransactioninfobyid": {
      "post": {
        "summary": "GetTransactionInfoById",
        "description": "Query the transaction fee, block height by transaction id",
        "operationId": "gettransactioninfobyid",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "value": {
                    "type": "string",
                    "description": "Transaction ID (hash). Example: `bd32eef7469d57011a092c59c745cab1e49c501e9f0ac15c580656f9ead1e319`",
                    "default": ""
                  }
                },
                "required": [
                  "value"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"id\": \"d0807adb3c5412aa150787b944c96ee898c997debdc27e2f6a643c771edb5933\",\n  \"fee\": 2790,\n  \"blockNumber\": 5467102,\n  \"blockTimeStamp\": 1546455621000,\n  \"contractResult\": [\n    \"\"\n  ],\n  \"receipt\": {\n    \"net_fee\": 2790\n  }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "d0807adb3c5412aa150787b944c96ee898c997debdc27e2f6a643c771edb5933"
                    },
                    "fee": {
                      "type": "integer",
                      "example": 2790,
                      "default": 0
                    },
                    "blockNumber": {
                      "type": "integer",
[...]
