{
  "openapi": "3.1.0",
  "info": {
    "title": "trongrid-v1-api",
    "version": "4.8.0"
  },
  "servers": [
    {
      "url": "https://api.shasta.trongrid.io"
    }
  ],
  "components": {
    "securitySchemes": {}
  },
  "security": [
    {}
  ],
  "paths": {
    "/v1/accounts/{address}": {
      "get": {
        "summary": "Get account info by address",
        "description": "",
        "operationId": "get-account-info-by-address",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "description": "The account address (Format: Base58Check or Hex). Example: `TFtbBrsWw5DGHoKQE8VY2WzTY3VnanQ2hz`",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "only_confirmed",
            "in": "query",
            "description": "Set to `true` to return only confirmed results; set to `false` to return both confirmed and unconfirmed results. Cannot be used simultaneously with `only_unconfirmed`. (Default: `false`)",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "only_unconfirmed",
            "in": "query",
            "description": "Set to `true` to return only unconfirmed results; set to `false` to return both confirmed and unconfirmed results. Cannot be used simultaneously with `only_confirmed`. (Default: `false`)",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/v1/accounts/{address}/transactions": {
      "get": {
        "summary": "Get transaction info by account address",
        "description": "",
        "operationId": "get-transaction-info-by-account-address",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "description": "The account address (Format: Base58 or Hex). Example: `TFtbBrsWw5DGHoKQE8VY2WzTY3VnanQ2hz`",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "only_confirmed",
            "in": "query",
            "description": "Set to `true` to return only confirmed transactions; set to `false` to return both confirmed and unconfirmed transactions. Cannot be used simultaneously with `only_unconfirmed`. (Default: `false`)",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "only_unconfirmed",
            "in": "query",
            "description": "Set to `true` to return only unconfirmed transactions; set to `false` to return both confirmed and unconfirmed transactions. Cannot be used simultaneously with `only_confirmed`. (Default: `false`)",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "only_to",
            "in": "query",
            "description": "Set to `true` to return only transactions sent to the address specified in the path. (Default: `false`)",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "only_from",
            "in": "query",
            "description": "Set to `true` to return only transactions sent from the address specified in the path. (Default: `false`)",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of transactions to return per page. (Default: 20, max: 200)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "fingerprint",
            "in": "query",
            "description": "The fingerprint for pagination, obtained from the `meta.fingerprint` field of a previous response. Note: When using `fingerprint`, all other parameters must remain the same.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order_by",
            "in": "query",
            "description": "Specifies the sort order. block_timestamp,asc | block_timestamp,desc (default)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_timestamp",
            "in": "query",
            "description": "The minimum block timestamp to filter by. (Unit: milliseconds, Default: 0)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "max_timestamp",
            "in": "query",
            "description": "The maximum block timestamp to filter by. (Unit: milliseconds, Default: current time)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/v1/accounts/{address}/transactions/trc20": {
      "get": {
        "summary": "Get contract transaction info by account address",
        "description": "Get the historical TRC20, TRC721 transfer records and authorization records of an account",
        "operationId": "get-trc20-transaction-info-by-account-address",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "description": "The account address (Format: Base58 or Hex). Example: `TFtbBrsWw5DGHoKQE8VY2WzTY3VnanQ2hz`",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "only_confirmed",
            "in": "query",
            "description": "Set to `true` to return only confirmed transactions; set to `false` to return both confirmed and unconfirmed transactions. Cannot be used simultaneously with `only_unconfirmed`. (Default: `false`)",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "only_unconfirmed",
            "in": "query",
            "description": "Set to `true` to return only unconfirmed transactions; set to `false` to return both confirmed and unconfirmed transactions. Cannot be used simultaneously with `only_confirmed`. (Default: `false`)",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of transactons to return per page. (Default: 20, Max:200)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "fingerprint",
            "in": "query",
            "description": "The fingerprint for pagination, obtained from the `meta.fingerprint` field of a previous response. Note: When using `fingerprint`, all other parameters must remain the same.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order_by",
            "in": "query",
            "description": "Specifies the sort order. block_timestamp,asc | block_timestamp,desc (default)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_timestamp",
            "in": "query",
            "description": "The minimum block timestamp to filter by. (Unit: milliseconds, Default: 0)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "max_timestamp",
            "in": "query",
            "description": "The maximum block timestamp to filter by. (Unit: milliseconds, Default: current time)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "contract_address",
            "in": "query",
            "description": "Contract address in Base58 or Hex format.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "only_to",
            "in": "query",
            "description": "Set to `true` to return only transactions sent to the address specified in the path. (Default: `false`)",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "only_from",
            "in": "query",
            "description": "Set to `true` to return only transactions sent from the address specified in the path. (Default: `false`)",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/v1/accounts/{address}/internal-transactions": {
      "get": {
        "summary": "Get internal transactions by address",
        "description": "",
        "operationId": "get-internal-transactions-by-address",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "description": "The account address. (Format: Base58 or hex)",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "only_confirmed",
            "in": "query",
            "description": "Set to `true` to return only confirmed transactions; set to false to return both confirmed and unconfirmed transactions. Cannot be used simultaneously with `only_unconfirmed`. (Default: `false`)",
            "schema": {
              "type": "boolean",
              "default": ""
            }
          },
          {
            "name": "only_unconfirmed",
            "in": "query",
            "description": "Set to `true` to return only confirmed transactions; set to false to return both confirmed and unconfirmed transactions. Cannot be used simultaneously with `only_confirmed`. (Default: `false`)",
            "schema": {
              "type": "boolean",
              "default": ""
            }
          },
          {
            "name": "only_to",
            "in": "query",
            "description": "Set to `true` to return only transactions sent to the address specified in the path. (Default: `false`)",
            "schema": {
              "type": "boolean",
              "default": ""
            }
          },
          {
            "name": "only_from",
            "in": "query",
            "description": "Set to `true` to return only transactions sent from the address specified in the path. (Default: `false`)",
            "schema": {
              "type": "boolean",
              "default": ""
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of transactions to return per page. (Default: 20, Max: 200)",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": ""
            }
          },
          {
            "name": "fingerprint",
            "in": "query",
            "description": "The fingerprint for pagination, obtained from the `meta.fingerprint` field of a previous response. Note: When using `fingerprint`, all other parameters must remain the same.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order_by",
            "in": "query",
            "description": "Specifies the sort order. block_timestamp,asc | block_timestamp,desc (default).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_timestamp",
            "in": "query",
            "description": "The minimum block timestamp to filter by. (Unit: milliseconds, Default: 0)",
            "schema": {
              "type": "string",
              "format": "date",
              "default": ""
            }
          },
          {
            "name": "max_timestamp",
            "in": "query",
            "description": "The maximum block timestamp to filter by. (Unit: milliseconds, Default: current time)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v1/transactions/{transactionId}/internal-transactions": {
      "get": {
        "summary": "Get internal transactions by transaction ID",
        "description": "",
        "operationId": "get-internal-transactions-by-transactionid",
        "parameters": [
          {
            "name": "transactionId",
            "in": "path",
            "description": "The unique ID for the parent transaction.",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "only_confirmed",
            "in": "query",
            "description": "Set to `true` to return only confirmed transactions; set to false (or omit) to return both confirmed and unconfirmed transactions. Note: Cannot be used simultaneously with `only_unconfirmed`.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "only_unconfirmed",
            "in": "query",
            "description": "Set to `true` to return only confirmed transactions; set to false (or omit) to return both confirmed and unconfirmed transactions. Note: Cannot be used simultaneously with `only_confirmed`.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v1/assets": {
      "get": {
        "summary": "List all assets (TRC-10 tokens) on chain",
        "description": "",
        "operationId": "list-all-assets-trc10-tokens-on-chain",
        "parameters": [
          {
            "name": "order_by",
            "in": "query",
            "description": "order_by = total_supply,asc | total_supply,desc | start_time,asc | start_time,desc | end_time,asc | end_time,desc | id,asc | id,desc (default)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of assets to return per page. (Default: 20, Max: 200)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "fingerprint",
            "in": "query",
            "description": "fingerprint of the last asset returned by the previous page; when using it, the other parameters and filters should remain the same",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v1/assets/{name}/list": {
      "get": {
        "summary": "Get assets by name",
        "description": "NOTE: Multiple assets may have the same name.",
        "operationId": "get-asset-by-name",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "Name of the asset(s). Example: `btt`",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "limit",
            "in": "query",
            "description": "number of assets per page, default 20, max 200",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "fingerprint",
            "in": "query",
            "description": "fingerprint of the last asset returned by the previous page; when using it, the other parameters and filters should remain the same",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order_by",
            "in": "query",
            "description": "order_by = total_supply,asc | total_supply,desc | start_time,asc | start_time,desc | end_time,asc | end_time,desc | id,asc | id,desc (default)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v1/assets/{identifier}": {
      "get": {
        "summary": "Get assets by ID or issuer",
        "description": "",
        "operationId": "get-asset-by-id-or-issuer",
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "description": "Id of the asset or the owner address of the asset in base58 or hex. Example: `1000996` or `41d7198920ecc8d0a522ab261ef0abae4bb09f29f9`",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v1/contracts/{contractAddress}/transactions": {
      "get": {
        "summary": "Get transaction info by contract address",
        "description": "",
        "operationId": "get-transaction-info-by-contract-address",
        "parameters": [
          {
            "name": "contractAddress",
            "in": "path",
            "description": "The address of contract (format: Base58 or Hex). Example: `TG3XXyExBkPp9nzdajDZsozEu4BkaSJozs`",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "only_confirmed",
            "in": "query",
            "description": "Set to `true` to return only confirmed [items]; set to `false` to return both confirmed and unconfirmed [items]. Cannot be used simultaneously with `only_unconfirmed`. (Default: `false`)",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "only_unconfirmed",
            "in": "query",
            "description": "Set to `true` to return only unconfirmed [items]; set to `false` to return both confirmed and unconfirmed [items]. Cannot be used simultaneously with `only_confirmed`. (Default: `false`)",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "min_timestamp",
            "in": "query",
            "description": "The minimum block timestamp to filter by. (Unit: milliseconds, Default: 0)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "max_timestamp",
            "in": "query",
            "description": "The maximum block timestamp to filter by. (Unit: milliseconds, Default: current time)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "order_by",
            "in": "query",
            "description": "Specifies the sort order. block_timestamp,asc | block_timestamp,desc (default).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fingerprint",
            "in": "query",
            "description": "The fingerprint for pagination, obtained from the `meta.fingerprint` field of a previous response. Note: When using `fingerprint`, all other parameters must remain the same.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of transactions to return per page. (Default: 20，Max: 200)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": ""
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v1/contracts/{contractAddress}/tokens": {
      "get": {
        "summary": "Get TRC-20 token holder balances",
        "description": "",
        "operationId": "get-trc20-token-holder-balances",
        "parameters": [
          {
            "name": "contractAddress",
            "in": "path",
            "description": "The address of contract (format: Base58 or Hex). Example: `TG3XXyExBkPp9nzdajDZsozEu4BkaSJozs`",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "fingerprint",
            "in": "query",
            "description": "The fingerprint for pagination, obtained from the `meta.fingerprint` field of a previous response. Note: When using `fingerprint`, all other parameters must remain the same.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of transactions to return per page. (Default: 20，Max: 200)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "order_by",
            "in": "query",
            "description": "Specifies the sort order. balance,asc | balance,desc (default).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": ""
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v1/transactions/{transactionID}/events": {
      "get": {
        "summary": "Get events by transaction id",
        "description": "",
        "operationId": "get-events-by-transaction-id",
        "parameters": [
          {
            "name": "transactionID",
            "in": "path",
            "description": "The specific transaction hash to query.\nExample: `aee87b7bb3e375c7e5e96f8b1a770c1fac60d483f56267fd77e663a3e9512a1a`",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "only_unconfirmed",
            "in": "query",
            "description": "Set to `true` to return only confirmed events; set to `false` to return both confirmed and unconfirmed events. Cannot be used simultaneously with `only_confirmed`.",
            "schema": {
              "type": "boolean",
              "default": ""
            }
          },
          {
            "name": "only_confirmed",
            "in": "query",
            "description": "Set to `true` to return only confirmed events; set to `false` to return both confirmed and unconfirmed events. Cannot be used simultaneously with `only_unconfirmed`.",
            "schema": {
              "type": "boolean",
              "default": ""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v1/contracts/{address}/events": {
      "get": {
        "summary": "Get events by contract address",
        "description": "",
        "operationId": "get-events-by-contract-address",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "description": "Contract address in `base58` or `hex` format.\nExample: `TG3XXyExBkPp9nzdajDZsozEu4BkaSJozs`",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "event_name",
            "in": "query",
            "description": "The event name to filter by.\nExample: `Transfer`",
            "schema": {
              "type": "string",
              "default": "Transfer"
            }
          },
          {
            "name": "block_number",
            "in": "query",
            "description": "The specific block number to query.\nExample: `61840405`",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "only_unconfirmed",
            "in": "query",
            "description": "Set to `true` to return only confirmed events; set to `false` to return both confirmed and unconfirmed events. Cannot be used simultaneously with `only_confirmed`.",
            "schema": {
              "type": "boolean",
              "default": ""
            }
          },
          {
            "name": "only_confirmed",
            "in": "query",
            "description": "Set to `true` to return only confirmed events; set to `false` to return both confirmed and unconfirmed events. Cannot be used simultaneously with `only_unconfirmed`.",
            "schema": {
              "type": "boolean",
              "default": ""
            }
          },
          {
            "name": "min_timestamp",
            "in": "query",
            "description": "The minimum block timestamp to filter by. (Unit: milliseconds, Default: 0)",
            "schema": {
              "type": "string",
              "format": "date-time",
              "default": ""
            }
          },
          {
            "name": "max_timestamp",
            "in": "query",
            "description": "The maximum block timestamp to filter by. (Unit: milliseconds, Default: current time)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "order_by",
            "in": "query",
            "description": "Specifies the sort order. block_timestamp,asc | block_timestamp,desc (default).  ",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fingerprint",
            "in": "query",
            "description": "The fingerprint for pagination, obtained from the `meta.fingerprint` field of a previous response. Note: When using `fingerprint`, all other parameters must remain the same.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of events to return per page. (Default: 20, Max:200)",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": ""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v1/blocks/{block_number}/events": {
      "get": {
        "summary": "Get events by block number",
        "description": "",
        "operationId": "get-events-by-block-number",
        "parameters": [
          {
            "name": "block_number",
            "in": "path",
            "description": "The block number to query events for.\nExample: `61840405`",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "required": true
          },
          {
            "name": "only_confirmed",
            "in": "query",
            "description": "Set to `true` to return only confirmed events; set to `false` to return both confirmed and unconfirmed events. Cannot be used simultaneously with `only_unconfirmed`.",
            "schema": {
              "type": "boolean",
              "default": ""
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of events to return per page. (Default: 20, max:200)",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": ""
            }
          },
          {
            "name": "fingerprint",
            "in": "query",
            "description": "The fingerprint for pagination, obtained from the `meta.fingerprint` field of a previous response. Note: When using `fingerprint`, all other parameters must remain the same.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v1/blocks/latest/events": {
      "get": {
        "summary": "Get events of latest block",
        "description": "",
        "operationId": "get-events-by-latest-block",
        "parameters": [
          {
            "name": "only_confirmed",
            "in": "query",
            "description": "Set to `true` to return only confirmed events; set to `false` to return both confirmed and unconfirmed events. Cannot be used simultaneously with `only_unconfirmed`. (Default: `false`)",
            "schema": {
              "type": "boolean",
              "default": ""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v1/blocks/{blockNum}/stats": {
      "get": {
        "summary": "Get block statistics",
        "description": "Retrieves detailed statistical information for a specific block, including transaction counts and resource consumption.",
        "operationId": "get-block-statistics",
        "parameters": [
          {
            "name": "blockNum",
            "in": "path",
            "description": "The specific block number to query.",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "required": true
          },
          {
            "name": "get_tx_detail",
            "in": "query",
            "description": "Set to `true` to include detailed transaction statistics (`txStat`) in the response. (Default: `false`)",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v1/accounts/{address}-1": {
      "get": {
        "summary": "Copy of Get account info by address",
        "description": "",
        "operationId": "get_v1accounts{address}-1",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "description": "The account address. (Format: Base58Check or Hex)",
            "schema": {
              "type": "string",
              "default": ""
            },
            "required": true
          },
          {
            "name": "only_confirmed",
            "in": "query",
            "description": "Set to `true` to return only confirmed results; set to `false` to return both confirmed and unconfirmed results. Cannot be used simultaneously with `only_unconfirmed`. (Default: `false`)",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "only_unconfirmed",
            "in": "query",
            "description": "Set to `true` to return only unconfirmed results; set to `false` to return both confirmed and unconfirmed results. Cannot be used simultaneously with `only_confirmed`. (Default: `false`)",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/v1/accounts/{address}-2": {
      "get": {
        "summary": "Copy of Get account info by address",
        "description": "",
        "operationId": "get_v1accounts{address}-2",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "description": "The account address. (Format: Base58Check or Hex)",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "only_confirmed",
            "in": "query",
            "description": "Set to `true` to return only confirmed results; set to `false` to return both confirmed and unconfirmed results. Cannot be used simultaneously with `only_unconfirmed`. (Default: `false`)",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "only_unconfirmed",
            "in": "query",
            "description": "Set to `true` to return only unconfirmed results; set to `false` to return both confirmed and unconfirmed results. Cannot be used simultaneously with `only_confirmed`. (Default: `false`)",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/v1/accounts/{address}-2-1": {
      "get": {
        "summary": "Copy of Copy of Get account info by address",
        "description": "",
        "operationId": "get_v1accounts{address}-2-1",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "description": "The account address. (Format: Base58Check or Hex)",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "only_confirmed",
            "in": "query",
            "description": "Set to `true` to return only confirmed results; set to `false` to return both confirmed and unconfirmed results. Cannot be used simultaneously with `only_unconfirmed`. (Default: `false`)",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "only_unconfirmed",
            "in": "query",
            "description": "Set to `true` to return only unconfirmed results; set to `false` to return both confirmed and unconfirmed results. Cannot be used simultaneously with `only_confirmed`. (Default: `false`)",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/v1/accounts/{address}-2-2": {},
    "/v1/accounts/{address}/trc20/balance": {
      "get": {
        "description": "",
        "responses": {
          "200": {
            "description": ""
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "address",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "The account address (Format: Base58 or hex). Example: `TFtbBrsWw5DGHoKQE8VY2WzTY3VnanQ2hz`"
          },
          {
            "in": "query",
            "name": "contract_address",
            "schema": {
              "type": "string"
            },
            "description": "The TRC20 contract address for balance inquiry. Example: `TP919kJBXKuwmTRDrNvoPcsuCzBonHZMqJ`"
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "description": "The maximum number of transactions to return per page. (Default: 20, max: 200)"
          }
        ],
        "operationId": "get_v1-accounts-address-trc20-balance"
      }
    },
    "/v1/contracts/{contractAddress}/internal-transactions": {
      "get": {
        "summary": "Get internal transactions by contract address",
        "description": "",
        "operationId": "get-internal-transactions-by-contract-address",
        "parameters": [
          {
            "name": "contractAddress",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "The address of contract (format: Base58 or Hex). Example: `TG3XXyExBkPp9nzdajDZsozEu4BkaSJozs`"
          },
          {
            "name": "only_confirmed",
            "in": "query",
            "description": "Set to `true` to return only confirmed [items]; set to `false` to return both confirmed and unconfirmed [items]. Cannot be used simultaneously with `only_unconfirmed`. (Default: `false`)",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "only_unconfirmed",
            "in": "query",
            "description": "Set to `true` to return only unconfirmed [items]; set to `false` to return both confirmed and unconfirmed [items]. Cannot be used simultaneously with `only_confirmed`. (Default: `false`)",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of transactions to return per page. (Default: 20，Max: 200)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "fingerprint",
            "in": "query",
            "description": "The fingerprint for pagination, obtained from the `meta.fingerprint` field of a previous response. Note: When using `fingerprint`, all other parameters must remain the same.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_timestamp",
            "in": "query",
            "description": "The minimum block timestamp to filter by. (Unit: milliseconds, Default: 0)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "max_timestamp",
            "in": "query",
            "description": "The maximum block timestamp to filter by. (Unit: milliseconds, Default: current time)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "order_by",
            "in": "query",
            "description": "Specifies the sort order. block_timestamp,asc | block_timestamp,desc (default).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v1/trc20/info": {
      "get": {
        "description": "",
        "responses": {
          "200": {
            "description": ""
          }
        },
        "parameters": [
          {
            "in": "query",
            "name": "contract_list",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "You can provide one or more contract addresses, with a maximum limit of 20. If providing multiple addresses, use a comma (,) as a delimiter. Example: `TG3XXyExBkPp9nzdajDZsozEu4BkaSJozs,TVMZYcbjpjaGqmciUjzuRWzANTXfHxrRCs`"
          }
        ],
        "operationId": "get_v1-trc20-info"
      }
    }
  },
  "x-readme": {
    "headers": [],
    "explorer-enabled": true,
    "proxy-enabled": true
  },
  "x-readme-fauxas": true
}